force-app/main/default/flows/Get_Case_Priority.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Invalid_Case</name>
        <label>Assign Invalid Case</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case Number is not valid</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>case_priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Valid_Values</name>
        <label>Assign Valid Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>case_priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Case_Record.Priority</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>error_message</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>If_Case_Record_Found</name>
        <label>If Case Record Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_Invalid_Case</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Case Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_Case_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Valid_Values</targetReference>
            </connector>
            <label>Yes Case Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Get Case Priority {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Case Priority</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Record</name>
        <label>Get Case Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Case_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>case_number</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>case_number</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>case_priority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>error_message</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
