force-app/main/default/flows/Inbound_to_Service_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Route_Work_to_Service_Agent</name>
        <label>Route Work to Service Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>routeWork</actionName>
        <actionType>routeWork</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelLabel</name>
            <value>
                <stringValue>Messaging</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelDevName</name>
            <value>
                <stringValue>sfdc_livemessage</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingType</name>
            <value>
                <stringValue>Copilot</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigLabel</name>
        </inputParameters>
        <inputParameters>
            <name>agentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>queueLabel</name>
            <value>
                <stringValue>Fallback Queue</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skillOption</name>
        </inputParameters>
        <inputParameters>
            <name>skillRequirementsResourceItem</name>
        </inputParameters>
        <inputParameters>
            <name>botLabel</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotLabel</name>
        </inputParameters>
        <inputParameters>
            <name>copilotLabel</name>
            <value>
                <stringValue>Case Priority Checker Agent</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentLabel</name>
        </inputParameters>
        <inputParameters>
            <name>serviceChannelId</name>
            <value>
                <setupReference>sfdc_livemessage</setupReference>
                <setupReferenceType>ServiceChannel</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>routingConfigId</name>
        </inputParameters>
        <inputParameters>
            <name>botId</name>
        </inputParameters>
        <inputParameters>
            <name>copilotId</name>
            <value>
                <setupReference>Case_Priority_Checker_Agent</setupReference>
                <setupReferenceType>BotDefinition</setupReferenceType>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentforceEmployeeAgentId</name>
        </inputParameters>
        <inputParameters>
            <name>externalConversationBotId</name>
        </inputParameters>
        <inputParameters>
            <name>queueId</name>
            <value>
                <stringValue>00Gg5000002HbjZEAS</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>agentId</name>
        </inputParameters>
        <nameSegment>routeWork</nameSegment>
        <offset>0</offset>
        <versionString>2.0.0</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Inbound to Service Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inbound to Service Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>RoutingFlow</processType>
    <recordUpdates>
        <name>Update_Messaging_Session</name>
        <label>Update Messaging Session</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Route_Work_to_Service_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>customer_email__c</field>
            <value>
                <elementReference>emailInp</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Messaging_Session</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emailInp</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
