force-app/main/default/flows/Transfer_Agent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Executes the money transfer transaction after user confirmation. Uses the session ID from validation to maintain context and processes the transfer between accounts.</description>
        <name>Execute_Transfer</name>
        <label>Execute Transfer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Balance_Transfer_Agent</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>Check_Transaction_Result</targetReference>
        </connector>
        <dataTypeMappings>
            <apexClass>LightningTypes__TransferAgentExecuteTransfer</apexClass>
            <typeName>U__agentResponseApex</typeName>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
            <value>
                <elementReference>Validate_Transfer_Request.sessionId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>I confirmed the transaction details. Please proceed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ApexClassName</name>
            <value>
                <stringValue>LightningTypes__TransferAgentExecuteTransfer</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Balance_Transfer_Agent</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionString>1.1.0</versionString>
    </actionCalls>
    <actionCalls>
        <description>Validates the transfer request using AI agent to check account validity, balance sufficiency, and transaction rules before proceeding with the transfer.</description>
        <name>Validate_Transfer_Request</name>
        <label>Validate Transfer Request</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Balance_Transfer_Agent</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>Check_Validation_Result</targetReference>
        </connector>
        <dataTypeMappings>
            <apexClass>LightningTypes__TransferAgentValidateTransferRequest</apexClass>
            <typeName>U__agentResponseApex</typeName>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Transfer the amount
The source account number (where the money will be transferred from)  - {!Source_Account}
The destination account number (where the money will be transferred to) - {!Destination_Account}
The amount you want to transfer - {!Amount}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ApexClassName</name>
            <value>
                <stringValue>LightningTypes__TransferAgentValidateTransferRequest</stringValue>
            </value>
        </inputParameters>
        <nameSegment>Balance_Transfer_Agent</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionString>1.1.0</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Transaction_Result</name>
        <label>Check Transaction Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Transaction_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Transaction Failed</defaultConnectorLabel>
        <rules>
            <name>Transaction_Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Execute_Transfer.structuredAgentResponse.validationPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transaction_Success_Screen</targetReference>
            </connector>
            <label>Transaction Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Validation_Result</name>
        <label>Check Validation Result</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Validation_Failed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Validation Failed</defaultConnectorLabel>
        <rules>
            <name>ValidationPassed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Validate_Transfer_Request.structuredAgentResponse.validationPassed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Consent_Screen</targetReference>
            </connector>
            <label>Validation Passed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Transfer Agent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Agent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Consent_Screen</name>
        <label>Consent Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <backButtonLabel>Go Back</backButtonLabel>
        <connector>
            <targetReference>Execute_Transfer</targetReference>
        </connector>
        <fields>
            <name>ConsentMessage</name>
            <fieldText>&lt;p&gt;{!Validate_Transfer_Request.structuredAgentResponse.validationInformation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>I Agree</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transaction_Failed</name>
        <label>Transaction Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TransactionFailedMessage</name>
            <fieldText>&lt;p&gt;{!Execute_Transfer.structuredAgentResponse.validationInformation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transaction_Success_Screen</name>
        <label>Transaction Success Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>TransactionSuccessMessage</name>
            <fieldText>&lt;p&gt;{!Execute_Transfer.structuredAgentResponse.validationInformation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Agent</name>
        <label>Transfer Agent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Validate_Transfer_Request</targetReference>
        </connector>
        <fields>
            <name>Source_Account</name>
            <dataType>String</dataType>
            <fieldText>Source Account</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Destination_Account</name>
            <dataType>String</dataType>
            <fieldText>Destination Account</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Amount</name>
            <dataType>String</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Transfer Now !!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Validation_Failed</name>
        <label>Validation Failed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Transfer_Agent</targetReference>
        </connector>
        <fields>
            <name>ValidationFailedMessage</name>
            <fieldText>&lt;p&gt;{!Validate_Transfer_Request.structuredAgentResponse.validationInformation}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Retry !!</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Transfer_Agent</targetReference>
        </connector>
    </start>
    <status>Active</status>
</Flow>
