force-app/main/default/flows/Update_Case_owner_From_User_Username.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Update_Owner_Error_Message</name>
        <label>Error Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output_Case_Owner_Update_Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case owner could not be updated. Please verify the case details and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Update_Owner_Success_Message</name>
        <label>Success Operation Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output_Case_Owner_Update_Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case owner has been updated successfully based on the related user details.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_User_Not_Found_Message</name>
        <label>User Record Not Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Output_Case_Owner_Update_Summary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Case owner could not be updated because the specified user was not found. Please provide a valid user name and try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_User_Record_Found</name>
        <label>Is User Record Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_User_Not_Found_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No – User Record Not Found</defaultConnectorLabel>
        <rules>
            <name>Yes_User_Record_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_Record.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Owner</targetReference>
            </connector>
            <label>Yes – User Record Found</label>
        </rules>
    </decisions>
    <description>This Flow updates the owner of an existing Case based on the provided Case Id and username of the target user.
It resolves the username to a User record, updates the Case Owner accordingly, and returns a summary indicating whether the ownership update was successful or failed.</description>
    <environments>Default</environments>
    <interviewLabel>Update Case owner From User Username {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case owner From User Username</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_User_Record_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_New_Owner_Username</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Owner</name>
        <label>Update Case Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Update_Owner_Success_Message</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Update_Owner_Error_Message</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Input_Case_Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the Case Id whose ownership needs to be updated</description>
        <name>Input_Case_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the username of the new Case owner</description>
        <name>Input_New_Owner_Username</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores the success or failure message for Case owner update</description>
        <name>Output_Case_Owner_Update_Summary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
